:root {
    font-family: "Quicksand", system-ui, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    
    scroll-behavior: smooth;
    color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.title {
    letter-spacing: 2px;
    font-size:60px;
}

.subtitle {
    letter-spacing: 2px;
    font-size:35px;
}

header {
    position:relative;
    text-align:center;
    color:white;
}

.flow-effect {
    background: linear-gradient(rgb(25, 6, 54), rgb(56, 25, 114));
}

.flow-effect::before {
    content: "";
    background-image: url("/flow-effect.png");
    opacity: 0.25;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    pointer-events: none;
}

.header-content {
    height:65vh;
    width:100%;
    margin: 0;
    padding: 0;
}

.header-footer {
    position:relative;
    text-align:center;
    height:15vh;
    gap: 40px;
    background-color: rgb(223, 220, 235);
}

.header-footer > a {
    color: #483e83;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.header-footer > a:hover {
    color: #867dbe;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content {
    padding: 5vh 10vw;
    background: linear-gradient(
        to bottom,
        rgba(223, 220, 235, 1) 0%,
        rgba(78, 56, 138, 0.8) 35%,
        rgb(66, 52, 115) 70%,
        rgb(67, 25, 114) 100%
    );
}

.inline {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.inline h3 {
    flex-shrink: 0;
}

.inline h4 {
    text-align: right;
    word-break: break-word;
    flex: 1;
}

h1, p {
    margin: 0;
}

p {
    color: #bfc4cc;
}

.scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 20px;
    cursor: pointer;
    color: white;
    font-size: 30px;
    text-decoration: none;
    
    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform 0.2s ease, opacity 0.2s ease;
}

.scroll-top:hover {
    transform: translateY(-5px);
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 50px;
    padding: 0 30px;
}

.navbar_buttons {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

.navbar_buttons li {
    margin-right: 20px;
    list-style: none;
}

.navbar_buttons li a {
    color: white;
    font-weight: bold;
    transition: color 0.3s;
    text-decoration: none;
}

.navbar_buttons li a:hover {
    color: #5b569b;
}
  
.checkbtn {
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.content-description {
    background: rgba(10, 9, 21, 0.4);
    border-radius: 50px;
    text-align: center;
    padding: 50px;
}

.content-description > h2 {
    overflow-wrap: break-word;
}

.demoreels-grid {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(38vw, 1fr));
}

.video_wrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.card_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 20px;
}

.projects-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(35vh, 1fr));
}

.card {
    background: rgba(116, 106, 168, 0.71);
    border-radius: 12px;
    width: 100%;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.02);
}

.card_head {
    width: 100%;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
}

.card_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_body {
    padding: 10px;
}

.default_button {
    background-color: #393260;
    color: white;
    border: transparent solid 1px;
    border-radius: 8px;
    padding: 14px 16px;
    cursor: pointer;
}
.default_button:hover {
    background-color: #483e83;
}

.project-view {
    background: linear-gradient(rgb(9, 6, 54), rgb(56, 49, 95));
    padding: 5vh 10vw;
}

.project-display {
    display: grid;
    gap: 20px;
    grid-template-columns: minmax(0, 1fr) 400px;
}

.project-infos {
    background: rgba(125, 106, 168, 0.5);
    width: 100%;
    border-radius: 12px;
    padding: 20px;
}

.project-description {
    padding: 20px;
}

/*** Slideshow ***/

.slideshow {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: auto;
    gap: 20px;
}

.slide-radio{
    display: none;
}

.slides {
    position: relative;
    aspect-ratio: 16 / 9;
    height: auto;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slide img, .slide iframe {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    
    border: 1px solid transparent;
    border-radius: 20px;
}

.thumbnails-wrapper {
   position: relative;
   display: flex;
   align-items: center;
   gap: 8px;
}

.thumbnails {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    flex: 1;
    gap: 10px;
}

.thumb, .thumb-arrow {
    height: 100px;
}

.thumb {
    flex: 0 0 auto;
    width: 200px;
    cursor: pointer;
    opacity: 0.6;
    align-self: center;
}

.thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border: 1px solid transparent;
    border-radius: 20px;
}

.thumb-arrow {
    background: transparent;
    color: #d2d2d2;
    border: none;
    width: auto;
    cursor: pointer;
    font-size: 50px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.thumb-arrow:hover {
    color: #5b569b;
}

@media (max-width: 1200px) {
    .project-display {
        gap: 40px;
        grid-template-columns: 1fr;
    }

    .thumb {
        width: 120px;
        height: 70px;
    }

    .thumb-arrow {
        display: none;
    }
    
    .thumbnails-wrapper {
        max-width: 80vw;
    }

    .thumbnails {
        overflow-x: auto;
    }
}

@media (max-width: 600px) {
    .navbar_buttons {
      position: fixed;
      z-index: 3;
      background: rgba(0, 0, 0, 0.7);
      top: -15;
      right: -100%;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 0.3s;
    }
  
    .navbar_buttons li {
      margin: 20px 0;
    }
  
    .navbar_buttons li a {
      font-size: 20px;
    }
    .checkbtn {
      display: block;
      order: 1;
    }
  
    #check:checked ~ .navbar_buttons {
      right: 0;
    }
}