:root {
    font-family: "Quicksand", system-ui, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(60deg, rgb(33, 18, 98) 0%, rgb(55, 58, 180) 100%);
    color: white;
    margin: 0;
}

.title {
    letter-spacing: 2px;
    font-size:60px;
}

.subtitle {
    letter-spacing: 2px;
    font-size:35px;
}

header {
    position:relative;
    text-align:center;
    color:white;
}

.flow-effect {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.1));
}

.flow-effect::before {
    content: "";
    background-image: url("/flow-effect.png");
    opacity: 0.25;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    pointer-events: none;
}

.header-content {
    height:65vh;
    width:100%;
    margin: 0;
    padding: 0;
}

.header-footer {
    position:relative;
    text-align:center;
    height:15vh;
    gap: 40px;
    background-color: white;
}

.header-footer > a {
    color: #483e83;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.header-footer > a:hover {
    color: #867dbe;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content {
    padding: 10vw;
    background: linear-gradient(
        to bottom,
        rgba(255,255,255, 1) 0%,
        rgba(73, 63, 141, 0.8) 35%,
        rgb(58, 52, 115) 70%,
        rgb(33, 18, 98) 100%
    );
}

.inline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

h1, p {
    margin: 0;
}

p {
    color: #bfc4cc;
}

.scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 20px;
    cursor: pointer;
    color: white;
    font-size: 30px;
    text-decoration: none;
    
    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform 0.2s ease, opacity 0.2s ease;
}

.scroll-top:hover {
    transform: translateY(-5px);
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 50px;
    padding: 0 50px;
}

.navbar_buttons > a {
    color: #d2d2d2;
    font-weight: bold;
    text-decoration: none;
    padding: 14px 16px;
}

.navbar_buttons > a:hover {
    color: #5b569b;
}

.description {
    background: rgba(10, 9, 21, 0.4);
    border-radius: 50px;
    text-align: center;
    margin: 100px;
    padding: 100px 0;
}

.description > h2 {
    padding: 0 100px;
}

.featured-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 500px;
}

.grid {
    display: grid;
    gap: 20px;
}

.demoreels-grid {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
}

.video_wrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.card_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.projects-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(35vh, 1fr));
}

.card {
    background: rgba(116, 106, 168, 0.71);
    border-radius: 12px;
    width: 100%;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.02);
}

.card_head {
    width: 100%;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
}

.card_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_body {
    padding: 10px;
}

.default_button {
    background-color: #363260;
    color: white;
    border: transparent solid 1px;
    border-radius: 8px;
    padding: 14px 16px;
    cursor: pointer;
}
.default_button:hover {
    background-color: #483e83;
}

/*** Slideshow ***/

.project {
    padding: 40px;
}

.slideshow {
    position: relative;
    width: 1000px;
    margin: auto;
}

.slide-radio{
    display: none;
}

.slides {
    position: relative;
    height: 600px;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slide img, .slide iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnails {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.thumb {
    cursor: pointer;
    opacity: 0.6;
    border: 2px solid transparent;
    transition: opacity 0.3s, border 0.3s;
}

.thumb img {
    width: 200px;
    height: 100px;
    object-fit: cover;
}